
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    background-image: url( ' /Users/harshilmangroliya/Downloads/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:lighten;


}
    

header {
    background-color: teal;
    color: khaki;
    padding: 20px;
    margin: 0%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    border: solid teal thin;
    border-radius: 10px;
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    border: solid teal thin;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    display: inline;
    margin: 0 15px;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul li a {
    color: rgb(26, 87, 103);
    text-decoration: none;
    font-weight: bold;
    margin-left: 0px;
}





section {
    padding: 80px 20px;
    margin-top: 200px;
    margin-bottom: 0px;
}

#home {
    background: url('banner.jpg') no-repeat center center/cover;
    color: rgb(44, 124, 161);
    padding: 100px 20px;
    margin-top: 0px;
}

.btn {
    display: inline-block;
    background: #7b1f16;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.btn:hover {
    background: #e65c50;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background: white;
    padding: 20px;
    margin-top: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
}